$bg-white-color: #FFFFFF;
$bg-light-gray-color-1: #E8E8E8;
$bg-light-gray-color-2: #DDDDDD;
$bg-light-gray-color-3: #F4F4F4;
$bg-gray-color: #8D8D8D;
$bg-black-color: #333333;
$bg-red-color: #E11C4B;

$text-white-color: #FFFFFF;
$text-gray-color: #8D8D8D;
$text-black-color: #333333;
$text-red-color: #E11C4B;

$logo-font-family: "Rosario-mm";

$default-font-family: "Roboto-mm";
$default-font-size: 16px;
$default-line-height: auto;
$default-font-weight: 400;
$default-font-style: normal;

$default-transition: all .3s ease-in-out;